---
- name: Install php-fpm and dependencies
  yum: name={{ item }} state=latest enablerepo=remi,remi-php70
  with_items:
    - php-fpm
    - php-common
    - php-devel
    - php-cli
    - php-pdo
    - php-gd
    - php-xml
    - php-mbstring
    - php-mcrypt
    - php-mysql

- name: Session folder
  file: path=/var/lib/php/session state=directory owner=nginx group=nginx mode=770

- name: WDSL folder
  file: path=/var/lib/php/wsdlcache state=directory owner=nginx group=nginx mode=770

- name: Copy error.log
  copy: src=error.log dest=/var/log/php-fpm/error.log owner=nginx group=nginx mode=770

- name: Copy slow.log
  copy: src=slow.log dest=/var/log/php-fpm/slow.log owner=nginx group=nginx mode=770

- name: Copy www.conf
  template: src=www.conf dest=/etc/php-fpm.d/www.conf

- name: Add php-fpm to auto start
  command: /usr/bin/systemctl enable php-fpm
  notify: restart php-fpm
